<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyn.serve.mappers.MenuMapper" >



    <select id="getUserMenus" parameterType="java.lang.Long" resultType="com.yyn.serve.bean.Menu">
        SELECT distinct menu.*  FROM menu
	        LEFT JOIN role_menu ON menu.id = role_menu.menu_id
        WHERE
            role_menu.role_id IN ( SELECT id FROM user_role WHERE user_role.user_id = #{uid} AND user_role.is_valid = 1)
            AND role_menu.is_valid = 1
            AND menu.is_valid = 1
            ORDER BY pid,order_no;
    </select>

</mapper>